*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: arial;
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	color: rgba(242, 248, 239, 0.5);
}

.envelope{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 95%;
	margin: 2rem auto;
	padding: 2rem;
	background-color: #cccccc;
}

.dice{
	width: 20rem;
	height: 20rem;
	padding: 1rem;
	margin: 1rem;
	background-color: #fc0000;
	border-radius: 1rem;
	/*flex: 1 0 25%;           ensure only 3 items per row */ 
}

.dot{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #eeeeee;
}

.one{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.two{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.two-top{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.two-bot{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.three{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.three-top{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.three-mid{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.three-bot{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.four{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.four-top,
.four-bot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.five{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.five-top,
.five-bot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.five-mid{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.six{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.six-top,
.six-mid,
.six-bot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}